<a href="https://colab.research.google.com/github/darshbaxi/Tensorflow-Practice/blob/main/churn_modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [116]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [117]:
df=pd.read_csv('Churn_Modelling.csv')

In [118]:
df.shape

(10000, 14)

In [119]:
y=df.iloc[:,-1]

In [120]:
geo=pd.get_dummies(df['Geography'])

In [121]:
gen=pd.get_dummies(df['Gender'],drop_first=True)

In [122]:
df=pd.concat([df,geo,gen],axis=1)

In [123]:
df=df.drop('Geography',axis=1)
df=df.drop('Gender',axis=1)
df=df.drop('RowNumber',axis=1)
df=df.drop('Surname',axis=1)

In [124]:
from sklearn.model_selection import train_test_split

In [125]:
df

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain,Male
0,15634602,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,0
1,15647311,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,0
2,15619304,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,0
3,15701354,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,0
4,15737888,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,1
9996,15569892,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,1
9997,15584532,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,0
9998,15682355,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,1
9999,15628319,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,0

In [126]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]
x.shape

(10000, 13)

In [127]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [128]:
from tensorflow import keras as kr 
from tensorflow.keras import layers

In [129]:

model=kr.Sequential()

In [135]:
model.add(layers.Dense(units=6,kernel_initializer='he_uniform',activation='relu',input_dim=13))
model.add(layers.Dense(units=6,kernel_initializer='he_uniform',activation='relu'))
model.add(layers.Dense(units=4,kernel_initializer='he_uniform',activation='relu'))
model.add(layers.Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [136]:

model.compile(loss='binary_crossentropy', optimizer='adam',metrics=['accuracy'])

In [137]:
model.fit(x_train, y_train,batch_size=10,epochs=20)

Epoch 1/20
670/670 [==============================] - 4s 2ms/step - loss: 0.6889 - accuracy: 0.5476
Epoch 2/20
670/670 [==============================] - 2s 2ms/step - loss: 0.6888 - accuracy: 0.5476
Epoch 3/20
670/670 [==============================] - 2s 2ms/step - loss: 0.6888 - accuracy: 0.5476
Epoch 4/20
670/670 [==============================] - 2s 3ms/step - loss: 0.6890 - accuracy: 0.5476
Epoch 5/20
670/670 [==============================] - 2s 3ms/step - loss: 0.6888 - accuracy: 0.5476
Epoch 6/20
670/670 [==============================] - 2s 3ms/step - loss: 0.6889 - accuracy: 0.5476
Epoch 7/20
670/670 [==============================] - 2s 2ms/step - loss: 0.6888 - accuracy: 0.5476
Epoch 8/20
670/670 [==============================] - 2s 3ms/step - loss: 0.6889 - accuracy: 0.5476
Epoch 9/20
670/670 [==============================] - 2s 2ms/step - loss: 0.6888 - accuracy: 0.5476
Epoch 10/20
670/670 [==============================] - 2s 2ms/step - loss: 0.6888 - accuracy: 0.5476
Epoch 11/20
670/670 [==============================] - 2s 3ms/step - loss: 0.6887 - accuracy: 0.5476
Epoch 12/20
670/670 [==============================] - 2s 3ms/step - loss: 0.6887 - accuracy: 0.5476
Epoch 13/20
670/670 [==============================] - 2s 2ms/step - loss: 0.6888 - accuracy: 0.5476
Epoch 14/20
670/670 [==============================] - 2s 2ms/step - loss: 0.6888 - accuracy: 0.5476
Epoch 15/20
670/670 [==============================] - 2s 2ms/step - loss: 0.6888 - accuracy: 0.5476
Epoch 16/20
670/670 [==============================] - 2s 2ms/step - loss: 0.6888 - accuracy: 0.5476
Epoch 17/20
670/670 [==============================] - 2s 2ms/step - loss: 0.6889 - accuracy: 0.5476
Epoch 18/20
670/670 [==============================] - 2s 3ms/step - loss: 0.6888 - accuracy: 0.5476
Epoch 19/20
670/670 [==============================] - 2s 4ms/step - loss: 0.6889 - accuracy: 0.5476
Epoch 20/20
670/670 [==============================] - 2s 3ms/step - loss: 0.6888 - accuracy: 0.5476